#side-box{
    border: 2px solid black;
    width: 300px;
    height:100%;
}
#top-box{
    border: 2px solid black;
    width: 935px;
    height: 100px;
    margin-left: 320px;
    margin-top: -610px;
}
#item-1{
    border: 2px solid black;
    width: 450px;
    height: 300px;
    margin-top: 20px;
    margin-left: 320px;
}

#item-2{
    border: 2px solid black;
    width: 450px;
    height: 300px;
    margin-top: -305px;
    margin-left: 805px;
}
#footer{
    border: 2px solid black;
    width:934px;
    margin-left: 320px;
    margin-top: 10px;
    height: 170px;
}