#aside{
	background-color: red;
	width: 250px;
	height: 300px;
}
#main{
	background-color: blue;
	width: 800px;
	height: 500px;
	margin-left: 200px;
	margin-top: -300px;
}
#right-aside{
	background-color: red;
	width: 250px;
	height: 390px;
	margin-left: 1000px;
	margin-top: -500px;
}
