.navbar{
    border: 2px solid black;
    
}
#box1{
    border: 2px solid black;
    width: 200px;
    height: 150px;
    margin-top: 10px;
}

#box2{
    border: 2px solid black;
    width: 200px;
    height: 150px;
    margin-left: 1065px;
    margin-top: -155px;

}

#box3{
    border: 2px solid black;
    width: 200px;
    height: 150px;
    margin-top: 10px;
}

#box4{
    border: 2px solid black;
    width: 200px;
    height: 150px;
    margin-left: 1065px;
    margin-top: -155px;
}
#box5{
	border: 2px solid black;
    width: 200px;
    height: 150px;
    margin-top: 10px;
}

#box6{
	border: 2px solid black;
    width: 200px;
    height: 150px;
    margin-left: 1065px;
    margin-top: -155px;
}
#main-section{
	border: 2px solid black;
	margin-left: 205px;
	margin-right: 224.5px;
	margin-top: -480px;
	height: 475px;



