.border-1{
    border: 2px solid orange;
    width: 420px;
    height: 100px;
    float: left;
}
.border-2{
    border: 2px solid red;
    width: 420px;
    height: 100px;
    float: right;
    margin-right: 416px;
}
.border-3{
    border: 2px solid black;
    width: 400px;
    height: 100px;
    float: right;
    margin-right: 12px;
    margin-top: -120px;
}
#clear{
    clear: both;
}