#navbar{
    border: 2px solid black;
    height: 60px;
}
#side-left{
    border: 2px solid black;
    width: 300px;
    height:90%;
    margin-top: 10px;
}
#side-right{
    border: 2px solid black;
    width: 300px;
    height:90%;
    margin-left: 942px;
    margin-top: -550px;
}
#nav-1{
    border: 2px solid black;
    width: 600px;
    height: 100px;
    margin-left: 320px;
    margin-top: -550px;
}
.box-1{
    border: 2px solid black;
    width: 70px;
    height: 65px;
    margin-left: 15px;
}
.box-2{
    border: 2px solid black;
    width: 70px;
    height: 65px;
    margin-left: 110px;
    margin-top: -85px;
}

.box-3{
    border: 2px solid black;
    width: 70px;
    height: 65px;
    margin-left: 210px;
    margin-top: -85px;
}

.box-4{
    border: 2px solid black;
    width: 70px;
    height: 65px;
    margin-left: 310px;
    margin-top: -85px;
}

.box-5{
    border: 2px solid black;
    width: 70px;
    height: 65px;
    margin-left: 410px;
    margin-top: -85px;
}
.box-6{
    border: 2px solid black;
    width: 70px;
    height: 65px;
    margin-left: 510px;
    margin-top: -85px;
}

#nav-2{
    border: 2px solid black;
    width: 600px;
    height: 430px;
    margin-top: 10px;
    margin-left: 319px;
}