#demo{
    border: 5px solid black;
    height: 110px;
    background-color: white;
    position: relative;

}
.step-1{
    background-color: red;
    width: 250px;
    height: 110px;
    margin: 0;
}
.step-2{
    background-color: red;
    width: 250px;
    height: 110px;
    margin-left: 300px;
    margin-top: -110px;
    position: absolute;
}
.step-3{
    background-color: red;
    width: 340px;
    height: 110px;
    margin-left: 600px;
    margin-top: -110px;
    position: absolute;
}
.step-4{
    background-color: red;
    width: 250px;
    height: 110px;
    margin-left: 1004px;
    margin-top: -110px;
    position: absolute;
}
